<h1>Start Quiz</h1>
<%= @begin_time%>
<%= form_tag({:controller => "quiz",
				  :action => "start"}) do %>
  
  
  <div class="center">
	 <%= submit_tag "Start!", :class => "submit"%>
  </div>
  <% if current_user.admin? %>
     <%= link_to "Questions", questions_path %>
  <% end %>
<% end %>

<% content_for(:title) do %>
  Start Quiz
<% end %>